body{
    background-color: rgb(199 210 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:midnightblue}

h1{
    text-align:center;
    font-family:fantasy;}

.bullet-text {
    position: relative;
    padding-left: 20px;}
.bullet-text::before,
.bullet-text::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: midnightblue;}
.bullet-text::before {
    left: 0;}
.bullet-text::after {
    right: 0;}

ol{
    font-weight:bold}
ul{
    font-weight:normal}
  
img{     
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 25%;}

    .left-align {
        float: left;
        margin-right: 10px; /* Optional: Add some spacing between images and surrounding content */
      }
      

    nav{
        background-color: rgb(124, 138, 244);
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:midnightblue;
        padding:10px;
        overflow: hidden;}
    
    nav a{
        float: right;
        color:midnightblue;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;}
    
    nav a:hover{
        background-color: #f3f3f3;}

#top{text-decoration:none;
    ;
    font-size: 40px;
    font-weight: bold;}

footer{
    background-color: rgb(124, 138, 244);
    color:midnightblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;}

footer a{
    float:right;
    color:midnightblue;
    padding:10px;
    font-size:18px;
    font-weight: bold;}

footer a:hover{
    background-color:#f3f3f3;}